<div class="login-page">
    <div class="form-div">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" [formGroup]="form">
        <input formControlName="username" type="text" placeholder="username" />
        <input formControlName="password" type="password" placeholder="password" />
        <button (click)="login()">login</button>
        <p class="message">Noch nicht registriert? <a href="#">Account anfordern</a></p>
      </form>
    </div>
  </div>