<div class="page-header mb-3">Meine persönliche Daten</div>
<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/customers">Kunden</a></li>
      </ol>
    </nav>
  </div>
</div>



      
   <div *ngIf="customer">
    <div><span>Id: </span>{{customer.id}} </div>
   

<div class="row full-card"> 
 <div class="col-md-12">
   <div class="card">
    <div class="card-body">
      
      
      <div class="form-row">
          <div class="form-group col-md-6">  
              <span>Vorname *</span>              
              <input [(ngModel)]="customer.firstName" type = "text"  class="form-control" name= "firstName" placeholder="Vorname" required #firstName = "ngModel"/>
              <p class="alert" style="color:red;" *ngIf="!firstName.valid && firstName.touched">Eingabe erforderlich</p>
            </div>
         


        <div class="form-group col-md-6">     
            <span>Nachname *</span>      
            <input [(ngModel)]="customer.lastName" type = "text"  class="form-control" name= "lastName" placeholder="Nachname" required #lastName = "ngModel"/>
            <p class="alert" style="color:red;" *ngIf="!lastName.valid && lastName.touched">Eingabe erforderlich </p>
          </div>
        </div>
    
        <div class="form-row">

            <div class="form-group col-md-6">  
                <span>Passwort *</span>      
                <input [(ngModel)]="customer.password" type = "text"  class="form-control" name= "password" placeholder="Passwort" required #pass = "ngModel"/>
                <p class="alert" style="color:red;" *ngIf="!pass.valid && pass.touched">Eingabe erforderlich </p>
            </div>

           
              <div class="form-group col-md-6">   
                  <span>Straße *</span>              
                  <input [(ngModel)]="customer.street" type = "text"  class="form-control" name= "street" placeholder="Straße" required #street = "ngModel"/>
                  <p class="alert" style="color:red;" *ngIf="!street.valid && street.touched">Eingabe erforderlich </p>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6">   
                    <span>Plz *</span>               
                    <input [(ngModel)]="customer.zip" type = "text"  class="form-control" name= "zip" placeholder="Plz" required #zip = "ngModel"/>
                    <p class="alert" style="color:red;" *ngIf="!zip.valid && zip.touched">Eingabe erforderlich (Nur Ziffern erlaubt) </p>
                </div>


              <div class="form-group col-md-6">   
                <span>Ort *</span>              
                <input [(ngModel)]="customer.city" type = "text"  class="form-control" name= "city" placeholder="Ort" required #city = "ngModel"/>
                <p class="alert" style="color:red;" *ngIf="!city.valid && city.touched">Eingabe erforderlich </p>
              </div>
               
                  </div>


              <div class="form-row">
                  <div class="form-group col-md-6">
                      <span>Email *</span>  
                      <input [(ngModel)]="customer.eMail" type = "text"  class="form-control" name= "eMail" placeholder="Email" required #email = "ngModel"/>   
                      <p class="alert" style="color:red;" *ngIf="!email.valid && email.touched">Eingabe erforderlich (Achten Sie auf das Format) </p>                
                    </div>

                  <div class="form-group col-md-6">
                      <span>Telefon *</span>  
                    <input [(ngModel)]="customer.phone" type = "text"  class="form-control" name= "phone" placeholder="Telefon" required #phone = "ngModel"/>
                    <p class="alert" style="color:red;" *ngIf="!phone.valid && phone.touched">Eingabe erforderlich (Nur Ziffern erlaubt) </p>
                  </div>
                  </div>
            
<button (click)="save()" >Speichern</button> <label></label>
<button (click)="blockCustomer(); blockStatus(btn)" value =  "Sperren" #btn >{{btn.value}}</button> <label></label>
<button  (click)="deleteCustomerByID(customer)">Löschen</button> 


</div> 
</div>
</div>
</div>
</div>
