<div class="page-header mb-3">Einen neuen Admin anlegen</div>
<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admins">Accantum</a></li>
      </ol>
    </nav>
  </div>
</div>


  <div class="row full-card">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)= "createNewAdmin()">
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Vorname *</label>
                    <input type="text" formControlName="FirstName" class="form-control" name="FirstName" placeholder="Vorname">
                    <div style="color:red;" *ngIf="!form.controls.FirstName.valid && form.controls.FirstName.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label >Nachname *</label>
                    <input type="text" formControlName="LastName" class="form-control" name="LastName" placeholder="Nachname">
                    <div style="color:red;" *ngIf="!form.controls.LastName.valid && form.controls.LastName.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                  </div>
                </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label >Passwort *</label>
                <input type="password" formControlName="password" class="form-control" name="password" placeholder="Passwort"  pattern= ".{7,15}">
                <div style="color:red;" *ngIf="!form.controls.password.valid && form.controls.password.touched">Eingabe erforderlich (Mindestens 8 Zeichen erforderlich)</div>
              </div>
                <div class="form-group col-md-6">
                  <label>Straße *</label>
                  <input type="text" formControlName="Street" class="form-control" name="Street" placeholder="Straße">
                  <div style="color:red;" *ngIf="!form.controls.Street.valid && form.controls.Street.touched">Eingabe erforderlich </div>
                </div>
                
              </div>



              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Plz *</label>
                    <input type="number" formControlName="ZIP" class="form-control" name="ZIP" pattern= ".{4,6}"  placeholder="Plz">
                    <div style="color:red;" *ngIf="!form.controls.ZIP.valid && form.controls.ZIP.touched">Eingabe erforderlich (4-6 Ziffern eingeben)</div>
                   
                  </div>


                  <div class="form-group col-md-6">
                    <label >Ort *</label>
                    <input type="text" formControlName="City" class="form-control" name="City" placeholder="Ort">
                    <div style="color:red;" *ngIf="!form.controls.City.valid && form.controls.City.touched">Eingabe erforderlich  (Nur Buchstaben erlaubt)</div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label >Email *</label>
                      <input type="text" formControlName="EMail" class="form-control" name="EMail" placeholder="Email">
                      <div style="color:red;" *ngIf="!form.controls.EMail.valid && form.controls.EMail.touched">Eingabe erforderlich (Achten Sie auf das Format)</div>
            
                    </div>
                    <div class="form-group col-md-6">
                      <label >Telefon *</label>
                      <input type="text" formControlName="Phone" class="form-control" name="Phone" placeholder="Telefon"  pattern= ".{7,15}">
                      <div style="color:red;" *ngIf="!form.controls.Phone.valid && form.controls.Phone.touched">Eingabe erforderlich (+49 30 12345)</div>
                    </div>
                    
                    
            
                  </div>
                

            <button type="submit" [disabled] = "!form.valid" class="btn btn-success">Registrieren</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
