<div class="login-page">
  <div class="form-div">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" [formGroup]="loginForm">
      <input formControlName="email" type="text" placeholder="email" />
      <input formControlName="password" type="password" placeholder="password" />
      <div style="color:red;" *ngIf="error">Falsches Passwort</div>
      <button (click)="loginUser()">login</button>
      <p class="message">Noch nicht registriert? <a href="#">Account anfordern</a></p>
    </form>
  </div>
</div>