<header>
  <div class = "container">
    <a routerLink="/" class="logo">{{ license }}</a>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/admin">Admin</a></li>
        <li><a routerLink="/partner">Partner</a></li>
        <li><a routerLink="/kunde">Kunde</a></li>
        <li><a routerLink="/lizenzen">Lizenzen</a></li>
        <li><a routerLink="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>