
.table-bordered{
    background-color: white;
}

.fontColor{
    color: black;
    
}

.text-primary{

    color: blue;
    cursor: pointer;
    text-decoration: underline;

}

.fa-pen{

  background: 0%;
  border: none; /* Remove borders */
  color:black;/* White text */
  cursor: pointer; /* Mouse pointer on hover */
}