<div class="page-header mb-3">Willkommen</div>




    <div class="row">
    <div class="col-sm-6">
    
    <div class="card text-center">
    <div class="card-body">
    <h4 class="card-title">Accantum</h4>
    <p class="card-text">Accantum entwickelt seit Jahren erfolgreich praxisnahe Produkte und Lösungen im Bereich Dokumenten- und Prozessmanagement sowie Archivierung für den Mittelstand mit einem guten Preis-Leistungsverhältnis. Mit den Softwarelösungen von Accantum unterstützen wir die Digitalisierung Ihrer Geschäftsprozesse. Die elektronische Verwaltung von Dokumenten und Informationen optimiert zudem die Steuerung Ihrer unternehmensweiten Arbeitsabläufe.
        </p>
        <p>
        Der Mittelstand lebt von Individualität und Flexibilität. Diesem Anspruch werden wir insbesondere durch die Konfigurierbarkeit und individuelle Programmierbarkeit gerecht. Gleichzeitig halten wir uns konsequent an Standards. So kann die Betreuung von Ihren IT-Fachleuten nach einer überschaubaren Implementierungszeit übernommen werden.
       <p> Die Nutzung durch Ihre Mitarbeiter ist mit geringem Schulungsaufwand dank der intuitiven Anwendung möglich..</p>
      Für weitere Informationen <a href="https://www.accantum.de">Accantum</a>

    </div>
    
    </div>
    </div>


    <div class="col-sm-6">
           
            <div class="card">
              <div class="card-body">
                            <canvas id="lineChart" ></canvas>
                  
                    </div>   
                    </div>
                </div>


           
        
    </div>



    <div class="row">
            <div class="col-sm-6">
                    <div class="card">
                            <div class="card-body">
            <canvas id="lineChart1" ></canvas>
            </div>
        </div>   
    </div>



        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <canvas id="lineChart2" ></canvas>
                </div>
         
        </div>
    </div>

</div>