<div class="container-fluid">
  <div id="sidebar" class="fixed-top" [ngClass]="smallSidebar ? 'small-sidebar-width' : 'col-md-3 col-lg-2 col-xl-2 px-0'">
    <nav class="nav flex-md-column navbar-dark main-nav">
      <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon icon="bars"></fa-icon>
      </button>
      <div id="menu" class="collapse navbar-collapse mt-3" [ngClass]="{'small-sidebar': smallSidebar}">
        <button class="nav-item my-2 sidebar-toggler" (click)="toggleSidebar()" style="cursor: pointer;">
          <fa-icon icon="bars"></fa-icon>
        </button>
        <a class="nav-link px-0 my-2" [ngClass]="{'small-sidebar py-0': smallSidebar}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dash">
          <fa-icon icon="home" class="px-2"></fa-icon>
          <span>Home</span>
        </a>
        <a class="nav-link px-0 my-2" [ngClass]="{'small-sidebar py-0': smallSidebar}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/customers">
          <fa-icon icon="users" class="px-2"></fa-icon>
          <span>Kunden</span>
        </a>

        <a *ngIf="currentUser.role === 'Admin'" class="nav-link px-0 my-2" [ngClass]="{'small-sidebar py-0': smallSidebar}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/admins">
          <fa-icon icon="users" class="px-2"></fa-icon>
          <span>Accantum</span>
        </a>

        <a *ngIf="currentUser.role !== 'Customer'" class="nav-link px-0 my-2" [ngClass]="{'small-sidebar py-0': smallSidebar}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/partner">
          <fa-icon icon="users" class="px-2"></fa-icon>
          <span>Partner</span>
        </a>
        

        <a class="nav-link px-0 my-2" [ngClass]="{'small-sidebar py-0': smallSidebar}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/license-administration">
          <fa-icon icon="balance-scale" class="px-2"></fa-icon>
          <span>Lizenzen</span>
        </a>
       
        <div class="align-tet-bottom">
            <a class="nav-link px-0 my-2" [ngClass]="{'small-sidebar py-0': smallSidebar}" (click)="logout()">
              <fa-icon icon="sign-out-alt" class="px-2"></fa-icon>
              <span>Logout</span>
            </a>
          </div>

      </div>
    </nav>
  </div>
  <div id="content" [ngClass]="smallSidebar ? 'small-sidebar-space' : 'col-md-9 col-lg-10 col-xl-10 offset-md-3 offset-lg-2 offset-xl-2 cold-sm-12 col-xs-12'">
    <router-outlet></router-outlet>
  </div>
</div>

