.active {
    border-left: 2px solid #ffffff;
  }
  
  a {
    width: 100%;
  }
  
  @media(max-width: 767.98px) {
    .sidebar-toggler {
      display: none;
    }
  }
  
  @media(min-width: 767.98px) {
    .sidebar-toggler {
      color: rgba(255,255,255,.5);
      border-color: rgba(255,255,255,.1);
      border-radius: .25rem;
      background-color: transparent;
      padding: .25rem .75rem;
      line-height: 1;
    }
  
      .sidebar-toggler:focus {
        outline: none;
      }
  
    .small-sidebar {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
    }
  
      .small-sidebar > span {
        font-size: 0.6em;
      }
  
    fa-icon {
      font-size: 1.5em;
    }
  
    .small-sidebar-width {
      width: 4.5em;
    }
  
    .small-sidebar-space {
      margin-left: 4.5em;
    }
  }
  