body {
  background-color: #19478a;
  color: #FFFFFF;
}

#sidebar {
  background-color: rgb(6, 7, 9);
}

#content {
  margin-top: 1rem;
}

#menu a {
  color: #FFFFFF;
}

#menu a:hover {
  color: #0056b3
}

.navbar-toggler {
  display: none;
}

.page-header {
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 2px solid #FFFFFF;
}

.alert,
.btn,
.card,
.nav-pills .nav-link,
.form-control,
.breadcrumb {
  border-radius: 0;
}

.card {
  color: #000000;
}

@media(min-width: 768px) {
  #menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
  }

  .main-nav {
    height: 100vh;
  }

}

@media(max-width: 767.98px) {
  #content {
    margin-top: 4rem;
  }

  .navbar-toggler {
    display: block;
  }
}
