<div class="page-header mb-3">Lizenzen</div>

<div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class = "ml-auto">
              <a routerLink ="/license-create"> <button type="button" class="btn btn-success">+ Neue Lizenz</button></a> 
              </li>
            </ol>
          </nav>
        </div>
      </div>
      

      <table class="table table-bordered">
            <thead>
              <tr class ="fontColor">
                 
                  <th>Erfasst am</th>
                  <th>Gültig bis</th>
                  <th>Kundenname</th>
                  <th>Email</th>
                  <th>Ort</th>
                  <th>Abbyy Version</th>
                 
              </tr>
            </thead>
            <tbody>
             
             <tr class = "fontColor" *ngFor="let license of licenses">  
            <td routerLink="/license-detail/{{license.id}}"> <a class = "text-primary">{{license.reciptDate }} </a> </td> 
            <td>{{license.expiryDate}}</td>  
            <td>{{license.lastName}}</td>
            <td>{{license.email}}</td> 
            <td>{{license.city}}</td>
            <td>{{license.AbbyyVersion}}</td>
    
           
         
            
    
          </tr>
            </tbody>
          </table>

        