<div class="page-header mb-3">Lizenz-Daten</div>
<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/license-administration">Lizenzen</a></li>
      </ol>
    </nav>
  </div>
</div>


          
<div *ngIf="license">
    <div><span>Id: </span>{{license.id}} </div>
   

<div class="row full-card"> 
 <div class="col-md-12">
   <div class="card">
    <div class="card-body">
      
      <div class="form-row">
          <div class="form-group col-md-6">  
              <span>Firstname </span>       
              <input [(ngModel)]="license.firstName" type = "text"  class="form-control" name= "firstName" placeholder="Firstname"/>
            </div>

        <div class="form-group col-md-6">     
            <span>Lastname </span>      
            <input [(ngModel)]="license.lastName" type = "text"  class="form-control" name= "lastName" placeholder="Lastname"/>
          </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-6">  
                <span>Username </span>              
              <input [(ngModel)]="license.username" type = "text"  class="form-control" name= "username" placeholder="Username"/>
            </div>
            <div class="form-group col-md-6">  
                <span>Password </span>      
                <input [(ngModel)]="license.password" type = "text"  class="form-control" name= "password" placeholder="Password"/>
            </div>
            </div>

           
          <div class="form-row">
              <div class="form-group col-md-6">   
                  <span>Street </span>              
                  <input [(ngModel)]="license.street" type = "text"  class="form-control" name= "street" placeholder="Street"/>
                </div>

              <div class="form-group col-md-6">   
                  <span>City</span>              
                  <input [(ngModel)]="license.city" type = "text"  class="form-control" name= "city" placeholder="City"/>
                </div>
            </div>


            <div class="form-row">

                <div class="form-group col-md-6">   
                    <span>Zip </span>               
                    <input [(ngModel)]="license.zip" type = "text"  class="form-control" name= "zip" placeholder="Zip"/>
                </div>

                <div class="form-group col-md-6">   
                    <span>Housenumber</span>                    
                    <input [(ngModel)]="license.housenumber" type = "text"  class="form-control" name= "housenumber" placeholder="Housenumber"/>
                  </div>
                  </div>


              <div class="form-row">
                  <div class="form-group col-md-6">
                      <span>Email</span>  
                      <input [(ngModel)]="license.eMail" type = "text"  class="form-control" name= "eMail" placeholder="Email"/>                   
                    </div>

                  <div class="form-group col-md-6">
                      <span>Phone</span>  
                    <input [(ngModel)]="license.phone" type = "text"  class="form-control" name= "phone" placeholder="Phone"/>
                  </div>
                  </div>
            
<button (click)="save()">Save</button> <label></label>
<button (click)="goBack()">Back</button>  <label></label>
<button (click)="deletelicenseByID(license)">Delete</button>
</div> 
</div>
</div>
</div>
</div>
