<div class="row justify-content-center" *ngIf="notification">
  <div role="alert" class="alert alert-dismissible fade show" [ngClass]="{
      'alert-danger': notification.style=='danger',
      'alert-success': notification.style=='success',
      'alert-warning': notification.style=='warning'}">
      <strong name = "notification">{{notification.content}} </strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dissmissNotification()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>