<div class="page-header mb-3">Neue Lizenz</div>

<div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/license-administration">Lizenzen</a></li>
            </ol>
          </nav>
        </div>
      </div>


  <form [formGroup]="form" (ngSubmit)= "createNewLicense()">
  <div class="row full-card">
      <div class="col-md-12">
        <div class="card">

          <!-- Kundendaten-->
          
          <div class = "card">
            <label>Kundendaten</label>
          <div class="card-body">


            <div class = "form-row">
              <div class = "form-group col-md-4">
                <label>Kundennummer*</label> 
                <input type="number" formControlName="accantumNr" class="form-control" name="accantumNr" placeholder="Kundennummer">
                <div style="color:red;" *ngIf="!form.controls.accantumNr.valid && form.controls.accantumNr.touched">Eingabe erforderlich (Nur Ziffern erlaubt)</div> 
              </div>

            </div>
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Vorname*</label>
                      <input type="text" formControlName="firstName" class="form-control" name="firstName" placeholder="Vorname">
                      <div style="color:red;" *ngIf="!form.controls.firstName.valid && form.controls.firstName.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                    </div>
                    <div class="form-group col-md-6">
                      <label >Nachname*</label>
                      <input type="text" formControlName="lastName" class="form-control" name="lastName" placeholder="Name">
                      <div style="color:red;" *ngIf="!form.controls.lastName.valid && form.controls.lastName.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                    </div>
                  </div>
              
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Straße*</label>
                    <input type="text" formControlName="street" class="form-control" name="street" placeholder="Straße">
                    <div style="color:red;" *ngIf="!form.controls.street.valid && form.controls.street.touched">Eingabe erforderlich</div>
                  </div>

                  <div class="form-group col-md-6">
                      <label>Plz*</label>
                      <input type="number"  formControlName="zip" class="form-control" name="zip" pattern= ".{4,6}"  placeholder="Plz" required>
                      <div style="color:red;" *ngIf="!form.controls.zip.valid && form.controls.zip.touched">Eingabe erforderlich (4-6 Ziffern eingeben)</div>
                    </div>
                 
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label >Ort*</label>
                        <input type="text" formControlName="city" class="form-control" name="city" placeholder="Ort">
                        <div style="color:red;" *ngIf="!form.controls.city.valid && form.controls.city.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                      </div>
                      <div class="form-group col-md-6">
                          <label >Land*</label>
                          <input type="text" formControlName="country" class="form-control" name="country" placeholder="Land">
                          <div style="color:red;" *ngIf="!form.controls.country.valid && form.controls.country.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                        </div>

                  </div>


                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Email 1*</label>
                        <input type="text" formControlName="email1" class="form-control" name="email1" placeholder="Email1">
                        <div style="color:red;" *ngIf="!form.controls.email1.valid && form.controls.email1.touched">Eingabe erforderlich (Achten Sie auf das Format)</div>
                      </div>
                        <div class="form-group col-md-6">
                        <label >Email 2</label>
                        <input type="text" formControlName="email2" class="form-control" name="email2" placeholder="Email2">
                        <div style="color:red;" *ngIf="!form.controls.email2.valid && form.controls.email2.touched">Eingabe erforderlich (Achten Sie auf das Format)</div>
              
                      </div>
                  </div>

                      <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Telefon*</label>
                        <input type="text" formControlName="phone" class="form-control" name="phone" placeholder="Telefon"  pattern= ".{7,15}">
                        <div style="color:red;" *ngIf="!form.controls.phone.valid && form.controls.phone.touched">Eingabe erforderlich (+49 30 12345) </div>
                      </div>

                      <div class="form-group col-md-6">
                          <label >Fax</label>
                          <input type="text" formControlName="fax" class="form-control" name="fax" placeholder="Fax"  pattern= ".{7,15}">
                          <div style="color:red;" *ngIf="!form.controls.fax.valid && form.controls.fax.touched">Eingabe erforderlich (+49 30 12345) </div>
                        </div>
                    </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  
<!-- Anwendungsdaten-->
<div class = "mt-3">
    <div class = "card">
    <div class="row full-card">
        <div class="col-md-12">
          <div class="card">
              <label>Anwendungsdaten</label>
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Lizenztyp*</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Lizenz 1</option>
                          <option>Lizenz 2</option>
                          <option>Lizenz 3</option>
                          <option>Lizenz 4</option>
                          <option>Lizenz 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Lizenzart*</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Lizenz 1</option>
                          <option>Lizenz 2</option>
                          <option>Lizenz 3</option>
                          <option>Lizenz 4</option>
                          <option>Lizenz 5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Version*</label>
                        <input type="text" formControlName="AbbyyVersion" class="form-control" name="AbbyyVersion" placeholder="Version">
                        <div style="color:red;" *ngIf="!form.controls.AbbyyVersion.valid && form.controls.AbbyyVersion.touched">Eingabe erforderlich</div>
              
                      </div>
                      <div class="form-group col-md-6">
                        <label >Max. Seiten*</label>
                        <input type="text" formControlName="AbbyyLicenseSize" class="form-control" name="AbbyyLicenseSize" placeholder="Max. Seiten">
                        <div style="color:red;" *ngIf="!form.controls.AbbyyLicenseSize.valid && form.controls.AbbyyLicenseSize.touched">Eingabe erforderlich (Ziffern von 0-9 erlaubt)</div>
                      </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4">
                          <label >Gültig bis*</label>
                          <input type="date" formControlName="expiryDate" class="form-control" name="expiryDate" placeholder="01.01.2020">
                          <div style="color:red;" *ngIf="!form.controls.expiryDate.valid && form.controls.expiryDate.touched">Eingabe erforderlich (tt.mm.jjjj)</div>
                
                        </div>
                        <div class="form-group col-md-4">
                          <label >Ausgestellt am*</label>
                          <input type="date" formControlName="receiptDate" class="form-control" name="receiptDate" placeholder="01.01.2019">
                          <div style="color:red;" *ngIf="!form.controls.receiptDate.valid && form.controls.receiptDate.touched">Eingabe erforderlich (dd.mm.jjjj)</div>
                        </div>

                      
                      <div class="form-group col-md-4">
                        <label >Ausgestellt von* </label>
                        <input type="text" formControlName="AbbyyLicenseSize" class="form-control" name="AbbyyLicenseSize" placeholder="Ausgestellt von">
                        <div style="color:red;" *ngIf="!form.controls.AbbyyLicenseSize.valid && form.controls.AbbyyLicenseSize.touched">Eingabe erforderlich</div>
                      </div>

                      </div>








                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Benuterdaten-->
<div class = "mt-3">
<div class = "card">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        
          <label>Benutzerdaten</label>

        <div class="card-body">
            <div class="form-group col-md-8">
                <label >Full* (Keine einschränkungen.) </label>
                <input type="number" formControlName="fullUser" class="form-control" name="fullUser" placeholder="Full"> 
                <div style="color:red;" *ngIf="!form.controls.fullUser.valid && form.controls.fullUser.touched">Eingabe erforderlich (Ziffern 1-9 erlaubt)</div>                      
            </div>
             

              <div class="form-group col-md-8">
                  <label >Light* (Enigeschränkte Berechtigungen, darf Dokumente bearbeiten.) </label>
                  <input type="number" formControlName="lightUser" class="form-control" name="lightUser" placeholder="Light">
                  <div style="color:red;" *ngIf="!form.controls.lightUser.valid && form.controls.lightUser.touched">Eingabe erforderlich (Ziffern 0-9 erlaubt)</div>
              </div>


                <div class="form-group col-md-8">
                    <label >Api* (Wie Volluser, kann aber nicht mit GUI arbeiten.)</label>
                    <input type="number" formControlName="totalUser" class="form-control" name="totalUser" placeholder="Api">
                    <div style="color:red;" *ngIf="!form.controls.totalUser.valid && form.controls.totalUser.touched">Eingabe erforderlich (Ziffern 0-9 erlaubt)</div>
                </div>

                 
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="card">
        <label>Sprachen*</label>
        <div class="card-body">
            <div class="form-check">
                <label class="form-check-label" for="check1">
                  <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>Deutsch
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="check2">
                  <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Englisch
                </label>
              </div>
        </div>
      </div>

      <div class = "mt-3">
      <div class="card">
          <label>Ausgabeformate*</label>
          <div class="card-body">
              <div class="form-check">
                  <label class="form-check-label" for="check1">
                    <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>PDF
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="check2">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">PDFA
                  </label>
                </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
</div>






            <div class = "mt-3">
  <button type="submit" class = "btn btn-success" >Weiter zur Konfiguration</button>
  </div>
  </form>

  

 


  <!-- Outline validation input 
<div class="md-form md-outline">
  <input mdbInput mdbValidate name="email" type="email" id="form8" class="form-control" [(ngModel)]="email" #input="ngModel" required pattern="[^ @]*@[^ @]*">
  <label for="form2">Email validator</label>
  <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Input invalid</mdb-error>
  <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success>
</div> -->