<div class="page-header mb-3">Partner</div>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dash">Home</a></li>
              <li *ngIf="currentUser.role === 'Admin'" class = "ml-auto">
              <a routerLink ="/create-partner"> <button type="button" class="btn btn-success">+ Neuer Partner</button></a> 
              </li>
            </ol>
          </nav>
        </div>
      </div>
    
    
    <table class="table table-bordered">
        <thead>
          <tr class ="fontColor">
              <th>Email</th>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Straße</th>
              <th>Plz</th>
              <th>Ort</th>
              <th>Telefon</th>
          </tr>
        </thead>
        <tbody>
         
         <tr class = "fontColor" *ngFor="let partner of partners">  
        <td routerLink="/partner-detail/{{partner.id}}">
          <button type="button" class="fas fa-pen">
            </button> 
          <a class = "text-primary">{{partner.eMail}} </a> </td>    
        <td>{{partner.firstName}}</td>
        <td>{{partner.lastName}}</td>
        <td>{{partner.street}}</td>
        <td>{{partner.zip}}</td>
        <td>{{partner.city}}</td>
        <td>{{partner.phone}}</td>
        
      </tr>
        </tbody>
  
      </table>

     
   