<div class="page-header mb-3">Neuer Kunde</div>
<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/customers">Kunden</a></li>
      </ol>
    </nav>
  </div>
</div>


  <div class="row full-card">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)= "createNewCustomer()">
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Vorname *</label>
                    <input type="text" formControlName="firstName" class="form-control" name="firstName" placeholder="Vorname">
                    <div style="color:red;" *ngIf="!form.controls.firstName.valid && form.controls.firstName.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label >Nachname *</label>
                    <input type="text" formControlName="lastName" class="form-control" name="lastName" placeholder="Nachname">
                    <div style="color:red;" *ngIf="!form.controls.lastName.valid && form.controls.lastName.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                  </div>
                </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label >Passwort *</label>
                <input type="password" formControlName="password" class="form-control" name="password" placeholder="Passwort" pattern= ".{7,15}">
                <div style="color:red;" *ngIf="!form.controls.password.valid && form.controls.password.touched">Eingabe erforderlich (Mindestens 8 Zeichen erforderlich)</div>
              </div>
                <div class="form-group col-md-6">
                  <label>Straße *</label>
                  <input type="text" formControlName="street" class="form-control" name="street" placeholder="Straße">
                  <div style="color:red;" *ngIf="!form.controls.street.valid && form.controls.street.touched">Eingabe erforderlich </div>
                </div>
              </div>
           
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Plz *</label>
                    <input type="number" formControlName="zip" class="form-control" name="zip" pattern= ".{4,6}" required title="4 Ziffern mindestens" placeholder="Plz"  >
                    <div style="color:red;" *ngIf="!form.controls.zip.valid && form.controls.zip.touched">Eingabe erforderlich (4-6 Ziffern eingeben)</div>
                    
                   
                  </div>
                  <div class="form-group col-md-6">
                    <label >Ort *</label>
                    <input type="text" formControlName="city" class="form-control" name="city" placeholder="Ort">
                    <div style="color:red;" *ngIf="!form.controls.city.valid && form.controls.city.touched">Eingabe erforderlich (Nur Buchstaben erlaubt)</div>
                  </div>
                 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label >Email *</label>
                      <input type="text" formControlName="eMail" class="form-control" name="eMail" placeholder="Email">
                      <div style="color:red;" *ngIf="!form.controls.eMail.valid && form.controls.eMail.touched">Eingabe erforderlich(Achten Sie auf das Format)</div>
            
                    </div>
                    <div class="form-group col-md-6">
                      <label >Telefon *</label>
                      <input type="text" formControlName="phone" class="form-control" name="phone" placeholder="Telefon" pattern= ".{7,15}" >
                      <div style="color:red;" *ngIf="!form.controls.phone.valid && form.controls.phone.touched">Eingabe erforderlich(+49 30 12345)</div>
                    </div>
                    
                    
            
                  </div>
                

            <button type="submit" [disabled] = "!form.valid" class="btn btn-success">Registrieren</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
