<div class="page-header mb-3">Admin</div>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dash">Home</a></li>
          <li class = "ml-auto">
          <a routerLink ="/accantum"> <button type="button" class="btn btn-success">+ Neuer Admin</button></a> 
          </li>
        </ol>
      </nav>
    </div>
  </div>
<table class="table table-bordered">
    <thead>
      <tr class ="fontColor">
        <th>Email</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Straße</th>
        <th>Ort</th>
        <th>Plz</th>
        <th>Telefon</th>
       
      </tr>
    </thead>
    <tbody> 
      <tr class = "fontColor" *ngFor="let admin of admins  ">  
        <td routerLink="/admin-detail/{{admin.id}}"> 
          <button type="button" class="fas fa-pen">
            </button>  
        <a class = "text-primary"> {{admin.eMail}} </a></td>  
        <td>{{admin.firstName}}</td>  
        <td>{{admin.lastName}}</td>
        <td>{{admin.street}}</td>
        <td>{{admin.city}}</td>
        <td>{{admin.zip}}</td>
        <td>{{admin.phone}}</td>
        

      </tr>
    </tbody>
  </table>

  
